html{
  height: 100%;
  min-height: 100%;

}
body {
  min-height: 100%;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jqte_editor div {
/*line-height: 15px;*/
	margin-top:-5px;
	margin-bottom: 0px;
}

#spotify {
	margin-top:52px;
}

#links {

}


#soundlinks a {
    text-decoration: none;
    font-size: 12px;
    /*color: rgb(41,41,41);*/
    color:black;
    color:#E2DE11;
    color:#F8ECC2;
    border:0px solid black;
}

a {
    text-decoration: none;
    font-size: 14px;
    /*color: rgb(41,41,41);*/
    color:black;
    color:#E2DE11;
    color:#F8ECC2;
}

#left-bottom-left {
	padding-left:0px;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*efter lg*/
@media (min-width: 1200px) {
  .container {
    width:100%;
  }
}

/*efter md*/
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

/*efter sm*/
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #soundlinks a {
    /*font-size: 11px;*/
  }
}
