

#box {
  /*margin: auto;*/
  margin-top:1em;
  background-color: #000;
  width: 230px;
  height: 270px;
  border: 5px solid #1a1a1a
}

canvas {
  display: block;
  /*margin: 30px auto;*/
  border-radius: 50%;
}

#start {
  padding-top: -3em;
  width: 6em;
  height: 2.5em;
  border: 1px solid #fff;
  border-radius: 2.5em;
  background: #262626;
  margin: auto;
  text-align: center;
  float: left;
  margin-left:0.5em;
}
  
 #start p {
  position: relative;
  transform: translateY(-30%);
  color: #f6a53b;
  margin-top:10px;
}
   
#reset {
  padding-top: -3em;
  width: 6em;
  height: 2.5em;
  border: 1px solid #fff;
  border-radius: 2.5em;
  background: #262626;
  margin: auto;
  text-align: center;
  float: right;
  margin-right:0.5em;
}   

 #reset p {
  position: relative;
  transform: translateY(-30%);
  color: #f6a53b;
  margin-top:10px;
  
}
   
   
   